<div class="d-flex">
  <%= render 'batches/list', batches: @batches %>
  <%= turbo_frame_tag :batch_details, class: 'w-100' do %>
    <div class="container chatroom">
      <%= render 'batches/header', batch: @batch %>
      <!-- The :messages in the messages#create is looking for the div with that ID -->
      <%#= turbo_stream_from "batch_#{@batch.id}_messages" %>
      <div id='messages' class="messages">
        <% @batch.messages.each do |msg| %>
          <%= render 'messages/message', message: msg %>
        <% end %>
      </div>
      <%= simple_form_for [@batch, @message], html: {class: "d-flex", data: { controller: 'reset-form', action: 'turbo:submit-end->reset-form#reset' } } do |f| %>
        <%= f.input :content, label: false, placeholder: "Message ##{@batch.number}", wrapper_html: {class: "flex-grow-1"} %>
        <%= f.submit "Send", class: "btn btn-primary mb-3" %>
      <% end %>
    </div>
  <% end %>
</div>
