<div class="d-flex">
  <div class="list-group w-200px bg-white br-light batch-list">
    <% @batchs.each do |batch| %>
      <%= link_to "##{batch.number}", batch_path(batch), class: "list-group-item #{'active' if batch == @batch}" %>
    <% end %>
  </div>
  <div class="container chatroom">
    <div class='p-3 border-bottom'>
      <h1>
        #<%= @batch.number %>
        <small class="text-secondary"><%= @batch.part_time? ? "PT" : "FT" %> <%= @batch.data_science? ? "data science" : "web dev" %></small>
      </h1>
      <span><i class="fa-regular fa-calendar"></i> <%= @batch.start_date&.strftime('%b %d, %Y') %>-<%= @batch.end_date&.strftime('%b %d, %Y') %></span>
    </div>
    <div id='messages' class="messages">
      <% @batch.messages.each do |message| %>
        <div id="message-<%= message.id %>">
          <small>
            <strong><%= message.user.nickname %></strong>
            <i><%= message.created_at.strftime("%a %b %e at %l:%M %p") %></i>
          </small>
          <p><%= message.content %></p>
        </div>
      <% end %>
    </div>
    <%= simple_form_for [@batch, @message], html: {class: "d-flex"} do |f| %>
      <%= f.input :content, label: false, placeholder: "Message ##{@batch.number}", wrapper_html: {class: "flex-grow-1"} %>
      <%= f.submit "Send", class: "btn btn-primary mb-3" %>
    <% end %>
  </div>
</div>
